/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-02-2016, 20:31:53
    Author     : HOI
*/

.container-fluid, col-lg-3{
    min-height: 600px;
}
.col-lg-3{
    /*background-color: #D7EFBA;*/
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.action{
    color: #3a50d9;
    cursor: pointer;
}

